<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Site Django{% endblock %}</title>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }
    h1 {
        color: #333;
    }
    h2 {
        color: #555;
    }
    ul {
        list-style-type: square;
        padding-left: 20px;
    }
    li {
        margin-bottom: 5px;
    }
    a {
        display: inline-block;
        margin-top: 20px;
        text-decoration: none;
        color: #007BFF;
    }
</style>
<body>
    <header>
        <h1>Démo héritage Django</h1>
        <nav>
            <a href="/">Accueil</a> |
            <a href="/heritage/page1/">Page 1</a> |
            <a href="/heritage/page2/">Page 2</a>
        </nav>
        <hr>
    </header>
    <section>
        {% block content %}
        {% endblock %}
    </section>
    <hr>
    <footer>
        <p>Formation Django – Héritage de templates</p>
    </footer>
</body>

</html>